*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.contenedor{
    margin: 0px 100px;
}
.logo{
    font-size: 40px;
    font-weight: 500;
}

nav ul li{
    margin-left: 12px;
    font-size: 18px;
}

.hero{
    background-image: url(img/heroimg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 40vh;
    max-height: 65vh;
}
.hero h2{
    font-size: 42px;
    font-weight: bold;
}

.descip{
    max-width: 60vw ;
}

.servicios__img{
    width: 180px;
    height: 160px;
}




/*MEDIA QUERIES*/

/*PARA SMARTFONE*/

@media (max-width: 768px){
    .descip{
        max-width: 90%;
    }
}