body{
    background-color: rgb(249, 246, 241)
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.contenedor{
    margin: 0px 100px;
}
.logo{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 500;
}
nav{
    background-color: #f5b24d ;
    
}
nav ul li {
    margin-left: 12px;
    font-size: 18px;
}

.nav__contenedor{

}
.hero{
    background-image: url(img/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 40vh;
    max-height: 65vh;
}
.hero h2{
    font-size: 42px;
    font-weight: bold;
    background-color: #f5b24d;
}

.descip{
    max-width: 60vw ;
}

.servicios__img{
   height: 160px;
}

.resaltado{
    color: #ff9800;
}

footer{
    margin-top: 80px;
    
    align-items: center;
    text-align: center;
    padding-top: 20px 20px;
    background-color: #f5b24d;
}

footer i{
    font-size: 40px;
    color: white;
   
}

.hisotira h2{
    background-color: #8d8d8d;
} 

/*MEDIA QUERIES*/

/*PARA SMARTFONE*/

@media (max-width: 768px){
    .descip{
        max-width: 90%;
    }
}