body{
    background-color: rgb(249, 246, 241)
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.contenedor{
    margin: 0px 100px;
}
.logo{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 500;
}
nav{
    background-color: #f5b24d ;
    
}
nav ul li {
    margin-left: 12px;
    font-size: 18px;
}

.nav__contenedor{

}
.hero{
    background-image: url(img/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 40vh;
    max-height: 65vh;
}
.hero h2{
    font-size: 42px;
    font-weight: bold;
    background-color: #f5b24d;
}

.descip{
    max-width: 60vw ;
}

.servicios__img{
   height: 160px;
}

.resaltado{
    color: #ff9800;
}

footer{
    margin-top: 80px;
    
    align-items: center;
    text-align: center;
    padding-top: 20px 20px;
    background-color: #f5b24d;
}

footer i{
    font-size: 40px;
    color: white;
   
}
.about h2{
    color: #ff9800;
}

.about img{
    width: 400px;
}
.usuarios{
    margin-top: 80px;
    height: 80px;
    color: #ff9800;
    min-height: 80vh;
}

.caja{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.1);
    margin: 10px 20px;
}
.caja h4{
    font-weight: 600;
    padding: 40px;
   
}
.caja__top{
    width: 100%;
    display: flex;
    align-items: center;
    
}
.caja__top img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 50px;
    
}

.caja__comentario{
    width: 100%;
    padding: 0 50px;

}
/*MEDIA QUERIES*/

/*PARA SMARTFONE*/

@media (max-width: 768px){
    .descip{
        max-width: 90%;
    }
}